.vscode
node_modules/
src/
scripts/
.babelrc
.gitignore
.nvmrc
.travis.yml
package-lock.json
webpack.config.js
.eslintrc.json
.eslintrc
tsconfig.json
tsconfig.gen-dts.json
*.scss
public/
src/local_test
/src/local_test
setupTests.ts
.husky
.prettierrc